.venv/
garbage/
Face_DB/*
!Face_DB/.gitkeep
test_film_frame/*
!test_film_frame/.gitkeep
__pycache__/
imdb_scraper/*
!imdb_scraper/.gitkeep
notebook_fixer.py
content_analysis/first_1000_actors.csv
content_analysis/first_500_actors.csv
content_analysis/actors_with_more_than_9_titles.csv